MONGO_URI=''
MAILER_USER=''
MAILER_PASS=''
MAILER_HOST = ''
MAILER_PORT = 
DOMAIN = ""
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GITHUB_CLIENT_ID = ''
GITHUB_CLIENT_SECRET = '' 
NEXTAUTH_SECRET = ''